div.dinner-wrapper {
    height:100vh;
    width: 100vw;
    margin: 0 auto;
    /* background: #F1FAEE; */
}

div.header-section {
    color: #1d3557;
}

div.dinner-menu {
    background: inherit;
    /* -webkit-box-shadow:inset 0px 0px 0px 10px #DAD2BC;
    -moz-box-shadow:inset 0px 0px 0px 10px #DAD2BC;
    box-shadow:inset 0px 0px 0px 10px #DAD2BC; */
    height: 95%;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    background: inherit;
    font-family: 'Baskerville', 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1D3557;
}

div.d-section {
    margin-top: 20%;
}

div.menu-item {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2;
    padding-bottom: 0;
}

div.menu-item.p {
    margin-bottom: 0.2em;
}

/* div.d-footer {
    bottom: 0px;
    padding-bottom: 10%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
} */

p.light-desc {
    font-weight: lighter!important;
    color: #457B9D;
}

p.p-footer {
    color: #E63946;
    font-family: Brush Script MT, Brush Script Std, cursive;
}