div.mason-wrapper {
  display: block;
  top: 50px;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > img { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
    max-width: 50vw;
    transition: all .2s ease-in-out;
  }

  .my-masonry-grid_column > img:hover { /* change div to reference your elements you put in <Masonry> */
    transform: scale(1.05);
  }

  /* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > img {
    margin-bottom: 15px; /* space between items */
    width: 90%;
  }
}